h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 1.5rem;
  margin-top: 10px;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 1rem;
  padding: 0.2rem 0.5rem;
  background: rgba(73, 73, 73, 0.5);
  font-size: 18px;
}

a {
  color: #fff;
  text-decoration: none;
}


.text-secondary {
  color: #eece1a;
}

main {
  padding: 1rem;
  min-height: calc(100vh - 150px);
}
main .icon {
  margin-top: .5rem;
}
main .icon a {
  padding: 0.2rem;
}
main .icon img {
  cursor: pointer;
  height: 20px;
}
main .icon a:hover {
  color: #eece1a;
  transition: all 0.5s ease-out;
}
main#home {
  overflow: hidden;
}

.nav__title{
  margin: 12px 0 0 65px;
}

.profile-wrapper{
  width: 90vw;
}

.about__story{
  line-height: 25px;
  text-align: justify;
  font-size: 14px;
}


@media screen and (min-width: 768px) {

  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 4rem;
  }

  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    font-size: unset;
  }
  .nav__title{
    margin: 18px 0 0 100px;
  }

  .profile-wrapper{
    width: 70vw;
  }
  main {
    padding: 4rem;
  }

  main .icon img {
    height: 30px;
  }

  main .icon {
    margin-top: 1rem;
  }
  main .icon a {
    padding: 0.5rem;
  }
}