.app {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.carousel .thumbs-wrapper {
  display: none;
}
.carousel .carousel-status {
  display: none;
}


#list {
  margin: 2em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.fa-times-circle {
  font-size: 2em;
  cursor: pointer;
}
.fa-times-circle:hover {
  color: rgb(180,220,220);
}
.fa-trash {
  font-size: 1.5em;
  cursor: pointer;
}
.fa-trash:hover {
  color: rgb(180,220,220);
}


#totals {
  display: flex;
  justify-content: space-between;
}
