.card__container {
  position: relative;
  width: 21rem;
  height: 320px;
  margin: 10px;
  flex: auto;
}

.cards {
  width: 100%;
  height: 100%;
  background-color: yellow;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

.cards:hover {
  transform: rotateY(180deg);
}

.card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #ffc728;
  color: #333;
}

.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #5fcf80;
  color: #fff;
  transform: rotateY(180deg);
  line-height: 1;
  
}
.card__pet__details p{
  font-size: 1.2rem;
  font-weight: 800;
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.card__img {
  height: 100%;
  width: 100%;
}
.card__button{
  width: 90%;
  margin: 20px auto 0 15px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #1a7386;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.8;
}

.card__button:hover{
  opacity: 1;
}


.items img {
  width: 25%;
  height: 10prem;
}
.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0.5em 1em 0.5em 1em;
  padding: 0 5px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.info h3{
  margin-bottom: 3px;
}
.info button {
  margin-top: 1em;
  background-color: #111;
  color: rgb(220,230,220);
  padding: 0.5em;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.8;
}
.info button:hover {
  opacity: 1;
}
.info .button-disabled {
  background-color: rgb(180,40,40);
  cursor: default;
}

.hide-price {
  display: none;
}

